{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Story 9</title>
    {% endblock title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    {% block content %}
    {% if user.is_authenticated %}
        <div class="container p-5">
            <h2>Hello, <strong>{{ user.first_name }}!</strong> </h2>
            <a class="lead" href="{% url 'logout' %}">Logout here</a>
        </div>
    {% else %}
        <div class="container p-5">
            <h5>Uh oh, looks like you haven't <a class="lead" href="{% url 'login' %}">logged in.</a></h5>
        </div>
    {% endif %}

    <div class="container p-5">
    	<strong><h3>Favorite books: <span id="counter">0</span></h3></strong>
    </div>

    <div class="container p-5">
    	<h5>Type a string in the field below and click search.</h5>
    	<div class="form-group my-3">
    		<label for="replace"><i>Search for:</i></label>
    		<input type="text" class="form-control" id="replace"></div>
    		<button class="btn btn-primary" id="replaceButton" onClick="replaceQuilting()">Search</button>
    	</div>
    </div>

    <div class="container p-5">
	    <div class="table-responsive">
		    <table class="table" id="booktable">
		    	<thead>
		    		<th>Name</th>
		    		<th>Publisher</th>
		    		<th>Description</th>
		    		<th>Thumbnail</th>
		    		<th>Favorited</th>
		    	</thead>
		    </table>
		</div>
	</div>


    <script src="{% static 'book_data.js' %}"></script>

    <div class="container p-5">
    	<a href="https://icons8.com">Icon pack by Icons8</a>
    </div>
    {% endblock %}
</body>
</html>