{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Muhammad Audrian | About me</title>
	</head>
	
	<body>
		{% block content %}
		<div class="loader"></div>

		<div id="main-content">
			<header>
				<div class="container p-5 text-lg-center">
					<img src="{% static 'selfpic.jpg' %}" id="selfpic">
					<h2>My name is <span class="font-weight-bold">Muhammad Audrian Ananda Priambodo.</span></h2>
					<h4>I am an Information Systems student based in Depok, Indonesia. I enjoy coding, and I also like graphic designing and videogaming.</h4>
				</div>
			</header>

			<div class="container p-5">
				<div class="p-5" id="accordion">
					<h3 class="accordion-toggle p-2">Current activities</h3>
					<div class="accordion-content default mx-3">
					<h5>Currently I'm person in charge at the <strong>Educare 2019 Creative division</strong>, in addition to <strong>studying information systems </strong>at the University of Indonesia.</h5>
					</div>

					<h3 class="accordion-toggle p-2">Organization / event history</h3>
					<div class="accordion-content mx-3">
					<h5><strong>At present:</strong> Person in Charge, Educare 2019 Creative Division</h5>
					<h5><strong>May - June 2018:</strong> Staff member, Wisuda Genap 2019 Creative Division</h5>
					</div>

					<h3 class="accordion-toggle p-2">Achievements</h3>
					<div class="accordion-content mx-3">
					<h5><strong>3rd place, comic contest</strong> @ SMA YPHB Bogor, 2016</h5>
					</div>
				</div>
				<button class="btn btn-primary" id="nightmode-toggle">Toggle night mode</button>
			</div>
		</div>
		<script src="{% static 'scripts.js' %}"></script>
		{% endblock %}
	</body>
</html>