{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}
		{% endblock title %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Load font -->
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400, 700" rel="stylesheet">
		<!-- Load stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand mb-0 h1" href="/">aud.rian</a>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'myprofile' %}">About me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'landing_page' %}">Status</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'books' %}">Favorite books</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'subscribe' %}">Subscribe</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block content %}

		{% endblock %}
	</body>
</html>